.banner {
    width: 100%;
    border-radius: 5px;
}

.profile-pic {
    position: relative;
    left: 40px;
    height: 90px;
    width: 90px;
    margin-top:-40px;
    border: 2px dodgerblue solid;
    border-radius: 50%;
}

.font-size-15{
    font-size:15px;
}

.top-bg{
    background-color: #dadada;
}

.container{
    position: relative;
}
.box{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 2px;
}
.top{
    z-index: 9;
}

.nav-tabs{
    font-size: 15px;
}
.nav-tabs > li > a{
}
.nav-tabs > li > a:hover{
    background-color: #74c4ab !important;
    color:#fff !important;
}
.nav-tabs .nav-item .nav-link {
    background-color: #ffffff;
}
.nav-tabs .nav-item .nav-link.active {
    color: #ffffff !important;
    background-color: #7dcbb2 !important;
}