.banner {
    width: 100%;
    border-radius: 5px;
}

.profile-pic {
    position: relative;
    left: 40px;
    height: 90px;
    width: 90px;
    margin-top:-40px;
    border: 2px dodgerblue solid;
    border-radius: 50%;
}

.font-size-15{
    font-size:15px;
}

.top-bg{
    background-color: #dadada;
}

.container{
    position: relative;
}
.box{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 10px;

}
.top{

    z-index: 9;
}