.open-buttons-spacing{
    padding-right: 10px;
}

/*.buttons-sizing{*/
/*    width: 50%;*/
/*}*/

.button-row{
    display:  flex;
    width: 100%;
    /*justify-content: space-between;*/
}

.button-row div:last-child {
    width: 45%;
    margin-right: 5px;
}

.button-row div:first-child {
    width: 45%;
    flex: 1;
}

.wrapper {
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
}



#button1 , #button2 {
    display:inline-block;
    /* additional code */
}

#button3 , #button4 {
    display:inline-block;
    /* additional code */
}

.button-sizing{
    width: 48%;
    margin: 5px;
    font-size: 32px;
    height: 200px;

    /*font-size: 48px;*/
}

.-search-main-buttons-text{
    color: white;
    text-decoration: none;
}


.search-page-text{
    font-size: 35px;
    margin-left: 5px;
    margin-bottom: 16px;

}

.cr-color{
    background-color: #B08EBD;
}

.rt-route-test-color{
    color: white;
    font-size: 30px;
}

.line-ends-links{
    text-decoration: none;

}

.rt-route-color{
    background-color: #E73C4E;
}

.rt-route-list-item{
    font-size: 20px;
}

.rt-route-text-alignment{
    display: flex;
    justify-content: space-between;


}

.rapid-transit-route-id{
    color: white;
    font-size: 30px;
    /*margin-left: 37%;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.route-stop-id{
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ferry-route-id{
    color: white;
    font-size: 30px;
    margin-left: 40%;
}

.bus-route-id-name{
    color: white;
    font-size: 30px;
    margin-left: 45%;
}

.wrap {
    display: flex;
    width: 100%;
    align-items: center;
}
.wrap div:last-child {
    float: right;
}

#buttonBackToSearchMain{
    height: 50px;
    width: 100px;
    color: white;
    font-size: 20px;
    background-color: #55524D;
    border-style: hidden;
}

.rapid-transit-routes-title{
    margin-left: 80px;
    font-size: 30px;
    color: #D6053E;
    align-items: center;
    justify-content: center;
}

.commuter-rail-routes-title{
    margin-left: 40px;
    font-size: 30px;
    color:  #321440;
    align-items: center;
    justify-content: center;
}

.bus-routes-title{
    margin-left: 140px;
    font-size: 30px;
    color: #008332;
    align-items: center;
    justify-content: center;
}

.ferry-routes-title{
    margin-left: 120px;
    font-size: 30px;
    color: #0086A2;
    align-items: center;
    justify-content: center;
}

.commuter-rail-route-stop{
    /*margin-left: 120px;*/
    margin-right: 80px;
    font-size: 30px;
    color:  #321440;
    align-items: center;
    justify-content: center;
}

.back-button-and-title-rt-route{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/*.back-button-and-title-rt-route div:last-child{*/
/*    float: right;*/
/*}*/

#button1{
    background-color: #E73C4E;
}

.bus-route-color{
    background-color: #5cb85c;
}

.ferry-route-color{
    background-color: #5bc0de;
}

.transit-stop-no-list{
    list-style-type: none;
}

.back-button-transit-stop{
    background-color: #55524D;

}

.like-div{
    display: flex;
}

.like-buttons{
    display:inline-block;
}

.blurb{
    margin-top: 16px;
    margin-left: 66px;
    font-size: 19px;
    color: black;
    font-family: "Helvetica Neue";
}

.blurbdiv{
    margin-top: 16px;
}

.slogan{
    color: #5cb85c;
    font-size: 19px;
    margin-left: 146px;
    font-family: "Helvetica Neue";
    font-weight: bold;
}

.home-button-login{
    height: 70px;
    width: 150px;
    justify-content: center;
}

#wrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}





