.searchbar {
    margin-top:-20px;
}

.suggestion{
    cursor: pointer;
    border-bottom: solid 1px #dcdcdc;
    border-left: solid 1px #dcdcdc;
    border-right: solid 1px #dcdcdc;
    background-color: white;
    padding: 5px 5px 5px 20px;
}

.suggestion:hover{
    background-color: #e1e1e1;
}

.map-dimensions{
    height: 650px;
}

/*.searchbar{*/
/*    margin-left: 10px;*/
/*    !*margin-top: 10px;*!*/
/*    width: 80%;*/
/*    display: flex;*/
/*}*/
.go-button{
    width: 120px;
}

.wrap-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrap-search div:last-child {
    /*margin-left: auto;*/
    width: 20%;
    /*margin-right: 3px;*/
}

.wrap-search div:first-child {
    width: 80%;
    /*flex: 1;*/
}

.wrap-search div:first-child div:first-child {
    width: 80%;
    /*flex: 1;*/
}

.wrap-search div:first-child div:first-child div:first-child {
    width: 80%;
    /*flex: 1;*/
}

.wrap-search div:first-child.first-child.first-child {
    width: 80%;
    /*flex: 1;*/
}

.MBTA-label-search-page{
    background-color: white;
    border: 1px solid;
    border-color: green;
}

.stop-image{
    width: 100px;
    height: 90px;
}


.stop-search-unit{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}